# データ加工編　No.１

In [20]:
# 最初に実行すること
# 該当ノートブックに必要ないものも含まれているの注意

import os
import warnings

import pandas as pd
import numpy as np
import matplotlib.pyplot
import seaborn as sns
import japanize_matplotlib

from datetime import datetime, date
from dateutil.relativedelta import relativedelta
import math

from sklearn import preprocessing
from sklearn.impute import SimpleImputer
from sklearn.model_selection import train_test_split
from sklearn.model_selection import TimeSeriesSplit

from imblearn.under_sampling import RandomUnderSampler

In [22]:
warnings.filterwarnings('ignore')

# データの格納先が異なる場合は変更し、実行すること
df_customer = pd.read_csv('data/customer.csv')
df_category = pd.read_csv('data/category.csv')
df_product = pd.read_csv('data/product.csv')
df_receipt = pd.read_csv('data/receipt.csv')
df_store = pd.read_csv('data/store.csv')
df_geocode = pd.read_csv('data/geocode.csv')

## 課題 1〜20

---
1.  レシート明細データ（df_receipt）から全項目の先頭10件を表示し、どのようなデータを保有しているか確認してください。

---
2. レシート明細データ（df_receipt）から売上年月日（sales_ymd）、顧客ID（customer_id）、商品コード（product_cd）、売上金額（amount）の順に列を指定し、10件表示してください。

---
3. レシート明細データ（df_receipt）から売上年月日（sales_ymd）、顧客ID（customer_id）、商品コード（product_cd）、売上金額（amount）の順に列を指定し、10件表示してください。ただし、sales_ymd を sales_date に項目名を変更しながら抽出すること。

---
4. レシート明細データ（df_receipt）から売上日（sales_ymd）、顧客ID（customer_id）、商品コード（product_cd）、売上金額（amount）の順に列を指定し、以下の条件を満たすデータを抽出してください。
- 顧客ID（customer_id）が"CS018205000001"

---
5. レシート明細データ（df_receipt）から売上日（sales_ymd）、顧客ID（customer_id）、商品コード（product_cd）、売上金額（amount）の順に列を指定し、以下の全ての条件を満たすデータを抽出してください。
 - 顧客ID（customer_id）が"CS018205000001"
 - 売上金額（amount）が1,000以上

---
6. レシート明細データ（df_receipt）から売上日（sales_ymd）、顧客ID（customer_id）、商品コード（product_cd）、売上数量（quantity）、売上金額（amount）の順に列を指定し、以下の全ての条件を満たすデータを抽出してください。
 - 顧客ID（customer_id）が"CS018205000001"
 - 売上金額（amount）が1,000以上または売上数量（quantity）が5以上

---
7. レシート明細データ（df_receipt）から売上日（sales_ymd）、顧客ID（customer_id）、商品コード（product_cd）、売上金額（amount）の順に列を指定し、以下の全ての条件を満たすデータを抽出してください。
 - 顧客ID（customer_id）が"CS018205000001"
 - 売上金額（amount）が1,000以上2,000以下

---
8. レシート明細データ（df_receipt）から売上日（sales_ymd）、顧客ID（customer_id）、商品コード（product_cd）、売上金額（amount）の順に列を指定し、以下の全ての条件を満たすデータを抽出してください。
 - 顧客ID（customer_id）が"CS018205000001"
 - 商品コード（product_cd）が"P071401019"以外

---
9. 以下の処理において、出力結果を変えずにORをANDに書き換えてください。

    `df_store.query('not(prefecture_cd == "13" | floor_area > 900)')`

---
10. 店舗データ（df_store）から、店舗コード（store_cd）が"S14"で始まるものだけ全項目抽出し、10件表示してください。

---
11. 顧客データ（df_customer）から顧客ID（customer_id）の末尾が1のものだけ全項目抽出し、10件表示してください

---
12. 店舗データ（df_store）から、住所 (address) に"横浜市"が含まれるものだけ全項目表示してください。

---
13. 顧客データ（df_customer）から、ステータスコード（status_cd）の先頭がアルファベットのA〜Fで始まるデータを全項目抽出し、10件表示してください。

---
14. 顧客データ（df_customer）から、ステータスコード（status_cd）の末尾が数字の1〜9で終わるデータを全項目抽出し、10件表示してください。

---
15. 顧客データ（df_customer）から、ステータスコード（status_cd）の先頭がアルファベットのA〜Fで始まり、末尾が数字の1〜9で終わるデータを全項目抽出し、10件表示してください。

---
16. 店舗データ（df_store）から、電話番号（tel_no）が3桁-3桁-4桁のデータを全項目表示してください。

---
17. 顧客データ（df_customer）を生年月日（birth_day）で高齢順にソートし、先頭から全項目を10件表示してください。

18. 顧客データ（df_customer）を生年月日（birth_day）で若い順にソートし、先頭から全項目を10件表示してください。

---
19. レシート明細データ（df_receipt）に対し、1件あたりの売上金額（amount）が高い順にランクを付与し、先頭から10件表示してください。項目は顧客ID（customer_id）、売上金額（amount）、付与したランクを表示させること。なお、売上金額（amount）が等しい場合は同一順位を付与するものとする。

---
20. レシート明細データ（df_receipt）に対し、1件あたりの売上金額（amount）が高い順にランクを付与し、先頭から10件表示してください。項目は顧客ID（customer_id）、売上金額（amount）、付与したランクを表示させること。なお、売上金額（amount）が等しい場合でも別順位を付与すること。