### 0. ÂøÖË¶Å„Å™„É¢„Ç∏„É•„Éº„É´„Çíimport „Åó„Å¶„Åè„Å†„Åï„ÅÑÔºàÂøÖË¶Å„Å´Âøú„Åò„Å¶‰ª•‰∏ã„ÅÆ„Çª„É´„Å´ËøΩË®ò„Åó„Å¶„ÅÑ„Åè„Åì„Å®Ôºâ

In [1]:
import seaborn as sns
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression

## „Éá„Éº„Çø„Çª„ÉÉ„Éà„ÅÆÁî®ÊÑè

### 1. seaborn„ÅÆload_dataset„É°„ÇΩ„ÉÉ„Éâ„Çí‰ΩøÁî®„Åó„ÄÅDiamonds„Éá„Éº„Çø„Çª„ÉÉ„Éà„ÇíË™≠„ÅøËæº„Åø„ÄÅÂÖàÈ†≠5Ë°å„ÇíË°®Á§∫„ÄÅÁ¢∫Ë™ç„Åó„Å¶„Åè„Å†„Åï„ÅÑ„ÄÇ

In [2]:
data = sns.load_dataset('diamonds')

In [3]:
data.head()

   carat      cut color clarity  depth  table  price     x     y     z
0   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2   0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3   0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4   0.31     Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75

### 2. Ë™≠„ÅøËæº„Çì„Å†„Éá„Éº„Çø„Çª„ÉÉ„Éà„ÅÆË¶ÅÁ¥ÑÁµ±Ë®àÈáè„ÇíÁ¢∫Ë™ç„Åó„Å¶„Åè„Å†„Åï„ÅÑ„ÄÇ

In [4]:
data.describe()

,carat,depth,table,price,x,y,z
count,53940.000000,53940.000000,53940.000000,53940.000000,53940.000000,53940.000000,53940.000000
mean,0.797940,61.749405,57.457184,3932.799722,5.731157,5.734526,3.538734
std,0.474011,1.432621,2.234491,3989.439738,1.121761,1.142135,0.705699
min,0.200000,43.000000,43.000000,326.000000,0.000000,0.000000,0.000000
25%,0.400000,61.000000,56.000000,950.000000,4.710000,4.720000,2.910000
50%,0.700000,61.800000,57.000000,2401.000000,5.700000,5.710000,3.530000
75%,1.040000,62.500000,59.000000,5324.250000,6.540000,6.540000,4.040000
max,5.010000,79.000000,95.000000,18823.000000,10.740000,58.900000,31.800000

### 3. Â§âÊï∞x, y, z„ÅÆÊúÄÂ∞èÂÄ§„Åå0„ÅÆ„Éá„Éº„Çø„ÇíÈô§„ÅÑ„Å¶„Åè„Å†„Åï„ÅÑ„ÄÇÈô§„ÅÑ„Åü„Éá„Éº„Çø„Çª„ÉÉ„Éà„ÅÆË¶ÅÁ¥ÑÁµ±Ë®àÈáè„ÇíÊîπ„ÇÅ„Å¶Á¢∫Ë™ç„Åó„Å¶„Åè„Å†„Åï„ÅÑ„ÄÇ

In [5]:
data = data[(data[['x', 'y', 'z']] != 0).all(axis=1)]

In [6]:
data.head()

   carat      cut color clarity  depth  table  price     x     y     z
0   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2   0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3   0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4   0.31     Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75

In [7]:
data.describe()

,carat,depth,table,price,x,y,z
count,53920.000000,53920.000000,53920.000000,53920.000000,53920.000000,53920.000000,53920.000000
mean,0.797698,61.749514,57.456834,3930.993231,5.731627,5.734887,3.540046
std,0.473795,1.432331,2.234064,3987.280446,1.119423,1.140126,0.702530
min,0.200000,43.000000,43.000000,326.000000,3.730000,3.680000,1.070000
25%,0.400000,61.000000,56.000000,949.000000,4.710000,4.720000,2.910000
50%,0.700000,61.800000,57.000000,2401.000000,5.700000,5.710000,3.530000
75%,1.040000,62.500000,59.000000,5323.250000,6.540000,6.540000,4.040000
max,5.010000,79.000000,95.000000,18823.000000,10.740000,58.900000,31.800000

## Á∑öÂΩ¢ÂõûÂ∏∞„É¢„Éá„É´„ÇíÊßãÁØâ„Åô„Çã

### 4. LinearRegression„ÇØ„É©„Çπ„Åã„Çâ„Ç§„É≥„Çπ„Çø„É≥„Çπ„ÇíÁîüÊàê„Åó„Å¶„Åè„Å†„Åï„ÅÑ

In [8]:
model = LinearRegression()

### 5. ÁâπÂæ¥ÈáèÔºàË™¨ÊòéÂ§âÊï∞Ôºâ„ÅØ„ÄÄcarat,„ÄÄdepth, ÁõÆÁöÑÂ§âÊï∞„ÅØ price„Å®„Åó„ÄÅÂ≠¶Áøí„Éá„Éº„Çø„ÇíÊ∫ñÂÇô„Åó„Å¶„Åè„Å†„Åï„ÅÑ„ÄÇ
ÔºàÊ≥®Ôºâ„ÄÄscikit-learn„Çí‰Ωø„ÅÜÈöõ„ÅÆÂ≠¶Áøí„Éá„Éº„Çø„ÅØÔºå X „ÅØùëö√óùëõ„ÅÆÂΩ¢„Å´„Åô„ÇãÂøÖË¶Å„Åå„ÅÇ„Çä„Åæ„Åô„ÄÇ

In [9]:
X = data[['carat', 'depth']].values
y = data['price'].values

In [10]:
print(X.shape, y.shape)

(53920, 2) (53920,)

### 6. Áî®ÊÑè„Åó„Åümodel„Ç§„É≥„Çπ„Çø„É≥„Çπ„ÄÅÂ≠¶Áøí„Éá„Éº„Çø„Çí‰ΩøÁî®„Åó„ÄÅÂ≠¶ÁøíÊ∏à„Åø„ÅÆ„Ç§„É≥„Çπ„Çø„É≥„Çπ„Å®„Åó„Å¶„Åè„Å†„Åï„ÅÑ„ÄÇ

In [11]:
model.fit(X, y)

LinearRegression()

### 7. Â≠¶ÁøíÊ∏à„Åø„ÅÆ„É¢„Éá„É´„ÅÆ„Éë„É©„É°„Éº„Çø„ÇíÁ¢∫Ë™ç„Åó„Å¶„Åè„Å†„Åï„ÅÑ

In [12]:
print(model.coef_)
print(model.intercept_)

[7764.51939652 -102.44763789]
4063.3415039246456

### 8. Êú™Áü•„ÅÆ„Éá„Éº„Çø„Å´ÂØæ„Åó„Å¶‰∫àÊ∏¨ÂÄ§„ÇíÂèñÂæó„Åó„Å¶„Åè„Å†„Åï„ÅÑ„ÄÇ
‚ë† carat„Åå1.5, depth„Åå60.0 \
‚ë° carat„Åå2.0, depth„Åå62.5

In [21]:
X_new = np.array([[1.5, 60.0], [2.0, 62.5]])
X_new.shape

(2, 2)

In [22]:
model.predict(X_new)

array([ 9563.26232544, 13189.40292898])