# 要約統計量を算出する
- 代表値
    - （相加）平均（mean）
    - 中央値（median）
    - 最頻値（mode）


- ばらつきの指標
    - 分散（variance） vs 不偏分散
    - 標準偏差（standard deviation）

---
1. 以下のライブラリの読み込みを行なってください。　\
Numpy, Pandas

In [23]:
import numpy as np
import pandas as pd

---
2. 以下の要約統計量について、理解してください。
- 代表値
    - （相加）平均　（mean）
    - 中央値　（median）
    - 最頻値　（mode）
- ばらつきの指標
    - 分散　（variance） 　（※ 余裕があれば、不偏分散についても確認しておいてください）
    - 標準偏差（standard deviation）

---
3. dataディレクトリ配下にある、height.csvを読み込みデータフレームに格納してください。

In [24]:
df = pd.read_csv('data/height.csv')

---
4. データフレームの先頭の数行を確認してください。

In [25]:
df.head()

   height gender
0   156.2      F
1   172.1      M
2   159.0      F
3   167.4      M
4   169.6      M

---
5. 読み込んだデータフレームの要約統計量を算出してください。\
（関数でまとめて算出するパターン、個別に算出するパターン）

In [26]:
# 要約統計量（サマリー）を表示（量的変数のみ）
df.describe()

            height
count  1998.000000
mean    164.743243
std       8.422025
min     141.900000
25%     158.200000
50%     164.500000
75%     171.200000
max     188.900000

In [27]:
# 平均値
display(f"平均値：{df['height'].mean()}")


# 中央値(numpyを使うのに注意)
display(f"中央値：{np.median(df['height'])}")


# 最小値
display(f"最小値：{df['height'].min()}")


# 最大値
display(f"最大値：{df['height'].max()}")


# 不偏分散（母集団の推定量として使う）
display(f"不偏分散(pandasを使う場合)：{df['height'].var()}")
display(f"不偏分散（numpyを使う場合）：{np.var(df['height'], ddof=1)}")


# 分散
display(f"分散(pandasを使う場合)：{df['height'].var(ddof=0)}")
display(f"分散（numpyを使う場合）：{np.var(df['height'])}")


# 標準偏差
display(f"標準偏差：{df['height'].std()}")

'平均値：164.74324324324326'

'中央値：164.5'

'最小値：141.9'

'最大値：188.9'

'不偏分散(pandasを使う場合)：70.93049763834941'

'不偏分散（numpyを使う場合）：70.93049763834941'

'分散(pandasを使う場合)：70.89499688878067'

'分散（numpyを使う場合）：70.89499688878067'

'標準偏差：8.42202455697853'

---
6. 性別毎のデータ数を算出してください。

In [28]:
# 性別毎のデータ数
df['gender'].value_counts()

M    1000
F     998
Name: gender, dtype: int64

---
7. 性別毎で要約統計量をまとめて算出してください。

In [29]:
# 男女別のサマリー
df.groupby('gender').describe()

        height
         count        mean       std    min      25%     50%    75%    max
gender
F        998.0  158.391182  5.358041  141.9  154.700  158.40  162.0  175.2
M       1000.0  171.082600  5.709895  151.5  167.175  171.05  174.8  188.9

In [30]:
# describeではvarianceは計算されないので必要であれば算出する
df.groupby('gender').var()

           height
gender
F       28.708608
M       32.602900